*.dss
src/__pycache__/
data/Hindcast Check_1986_200 Unregulated FOLC1F vs Determinstic FOLC1F.xlsx
output/pctDiffTestResults.xlsx
output/pctDiffTestResultsAll_v2.xlsx
output/pctDiffTestResultsAll.xlsx
output/mixedScaleFactorHeatmaps/*
*.csv
*.png
020.0
data/nbbORO/Additional_Scalings_20231011/scaled_hindcasts-20231011T233406Z-001.zip
data/nbbORO/Additional_Scalings_20231011/scaled_hindcasts-20231011T233406Z-002.zip
data/nbbORO/1986_sf100_flow.zip
data/nbbORO/1986_sf102_flow.zip
data/nbbORO/1986_sf104_flow.zip
data/nbbORO/1986_sf106_flow.zip
data/nbbORO/1986_sf108_flow.zip
data/nbbORO/1986_sf110_flow.zip
data/nbbORO/1986_sf120_flow.zip
data/nbbORO/1986_sf130_flow.zip
data/nbbORO/1986_sf140_flow.zip
data/nbbORO/1986_sf150_flow.zip
data/nbbORO/1986-20220927T163857Z-001.zip
data/nbbORO/1997_sf84_flow.zip
data/nbbORO/1997_sf86_flow.zip
data/nbbORO/1997_sf88_flow.zip
data/nbbORO/1997_sf90_flow.zip
data/nbbORO/1997_sf92_flow.zip
data/nbbORO/1997_sf94_flow.zip
data/nbbORO/1997_sf96_flow.zip
data/nbbORO/1997_sf98_flow.zip
data/nbbORO/1997_sf100_flow.zip
data/nbbORO/1997_sf110_flow.zip
data/nbbORO/1997_sf120_flow.zip
data/nbbORO/1997_sf130_flow.zip
data/nbbORO/1997-20220927T163859Z-001.zip
data/nbbORO/Additional_Scalings_20231011.zip
data/nbbORO/AdditionalScalings.zip
data/nbbORO/dataInventory.xlsx
data/dssMixedScaleFactor_detAEP_200_ensAEP_210.xlsx
data/hindcastMixedScaleFactor_detAEP_200_ensAEP_210.xlsx
